#!ipxe
:start
menu Talos PXE - pick a role
item --gap -- Talos Linux
item manual Talos Manual Install
item cp     Talos Controlplane
item worker Talos Worker
item --gap -- Other
item local  Boot from local disk
item reboot Reboot
choose --default manual --timeout 10000 target && goto ${target}

:cp
chain http://${PI_LAB_IP}:8080/ipxe?role=controlplane&mac=${mac:hexhyp}

:worker
chain http://${PI_LAB_IP}:8080/ipxe?role=worker&mac=${mac:hexhyp}

:manual
chain http://${PI_LAB_IP}:8080/ipxe?role=manual&mac=${mac:hexhyp}

:local
exit

:reboot
reboot
