{
  "id": "talos-manual",
  "name": "Talos Manual Install (amd64)",
  "boot": {
    "kernel": "/assets/talos/__SCHEMATIC__/__VERSION__/vmlinuz-amd64",
    "initrd": ["/assets/talos/__SCHEMATIC__/__VERSION__/initramfs-amd64.xz"],
    "args": [
      "talos.platform=metal",
      "slab_nomerge",
      "pti=on",
      "console=tty0",
      "console=ttyS0"
    ]
  }
}
